* {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  padding: 0 1%;
  position: absolute;
  top: 140px;
  z-index: 1;
  width: 100%;
}

.main-title-container {
  text-align: center;
  margin: 0;
}

.main-title-container h1 {
  margin: 0;
}

.main-container {
  width: 100%;
}

.route-container p {
  padding: 5px;
}

.menu-container {
  display: block;
  text-decoration: none;
  color: #191c26;
}

.menu-container ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 11px;
}

.menu-container a {
  padding-right: 1em;
  text-decoration: none;
  color: #101011;
}

.menu-container a:hover {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-weight: 500;
}

.menu-container a:active {
  text-decoration: none;
}

.menu-container ul li ul {
  display: none;
}

.menu-container ul li a:hover + ul,
.menu-container li ul:hover {
  display: block;
}

.menu-option {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-input{
  border: none;
  border-bottom: solid;
  border-width: 1px;
}

.route-container {
  display: flex;
}

.route-container p a {
  color: #191c26;
}

.galery-container {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 10%;
  position: relative;
  top: 220px;
}

.galery-container li {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.galery-container p {
  text-align: center;
}

.secondary-info {
  text-align: center;
}

.coupon-container {
  padding: 1%;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(230, 229, 229);
  padding: 2% 0;
  margin-top: 25%;
}

.coupon-dsct {
  font-weight: bold;
}

.contact-container {
  padding: 1%;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(230, 229, 229);
  padding: 2% 0;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.contact-info p {
  padding: 0 10px;
  font-size: 12px;
}

.email-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.email-input {
  border: none;
  border-bottom: solid;
  border-color: lightgray;
  width: 40%;
  margin: auto;
  cursor: pointer;
}

.footer-container {
  border-top: solid;
  border-width: 1px;
  border-color: rgb(230, 229, 229);
  padding: 2% 0;
}

.footer-list {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.footer-list ul {
  padding: 4% 2%;
  font-size: 10px;
}

.footer-list ul li {
  line-height: 1.5;
}

.final-footer-info {
  border-top: solid;
  border-width: 1px;
  border-color: rgb(230, 229, 229);
  padding: 2% 0;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  text-align: center;
}
