* {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  position: absolute;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  padding: 0 1%;
  position: relative;
  top: 140px;
}

.main-title-container {
  text-align: center;
  margin: 0;
}

.main-title-container h1 {
  margin: 0;
}

.main-container {
  width: 100%;
}

.route-container p {
  padding: 5px;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.menu-list {
  padding-top: 10%;
  line-height: 1.5;
}
.menu-list li a {
  color: black;
}

.menu-option {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.route-container {
  display: flex;
}

.galery-container {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 10%;
}

.galery-container li {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.galery-container p {
  text-align: center;
}

.secondary-info {
  text-align: center;
}

.coupon-container {
  padding: 1%;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(230, 229, 229);
  padding: 2% 0;
}

.coupon-dsct {
  font-weight: bold;
}

.contact-container {
  padding: 1%;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(230, 229, 229);
  padding: 2% 0;
}

.contact-info {
  display: flex;
  justify-content: center;
}
.contact-info p {
  padding: 0 10px;
  font-size: 12px;
}

.email-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.email-input {
  border: none;
  border-bottom: solid;
  border-color: lightgray;
  width: 40%;
  margin: auto;
  cursor: pointer;
}

.footer-container {
  border-top: solid;
  border-width: 1px;
  border-color: rgb(230, 229, 229);
  padding: 2% 0;
}

.footer-list {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.footer-list ul {
  padding: 4% 2%;
  font-size: 10px;
}

.footer-list ul li {
  line-height: 1.5;
}
.final-footer-info {
  border-top: solid;
  border-width: 1px;
  border-color: rgb(230, 229, 229);
  padding: 2% 0;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  text-align: center;
}
